In [20]:
import pandas as pd 
import numpy as np
from matplotlib import pyplot as plt 
import matplotlib.pyplot as plts
import seaborn as sns

In [21]:
df =  pd.read_csv('./Data/MockData.csv')
df.shape

(10000, 5)

In [22]:
df2 = df.copy()
df2.describe()

                Id        Height        Weight
count  10000.00000  10000.000000  10000.000000
mean    5001.67290    168.549397     73.248565
std     2886.97847      9.774108     14.686187
min        1.00000    135.530000     29.200000
25%     2501.75000    161.290000     61.607500
50%     5001.50000    168.440000     73.125000
75%     7502.25000    175.690000     84.902500
max    10000.00000    204.230000    219.370000

In [23]:
df2.head(8)

     Id  Height  Weight      Name  Gender
0  9383  138.88   30.23  Outliar5  Female
1  8928  138.92   29.20  Outliar4    Male
2  4532  204.23  117.03  Outliar3  Female
3  2324  139.02  118.36  Outliar2    Male
4  2323  139.03  119.37  Outliar1    Male
5  2723  135.53  219.37  Outliar6  Female
6  8799  136.66  201.42  Outliar7  Female
7  7295  139.38   35.66   Stanley    Male

In [24]:
df2Zscore = df2.copy()

In [25]:
meanHeight = df2Zscore['Height'].mean()
stdHeight = df2Zscore['Height'].std()

In [26]:
meanHeight,stdHeight

(np.float64(168.54939700000003), np.float64(9.774107733424543))

In [27]:
df2Zscore['Z_ScoreHeights'] = (df2Zscore.Height - meanHeight)/stdHeight
df2Zscore.head(8)

     Id  Height  Weight      Name  Gender  Z_ScoreHeights
0  9383  138.88   30.23  Outliar5  Female       -3.035510
1  8928  138.92   29.20  Outliar4    Male       -3.031417
2  4532  204.23  117.03  Outliar3  Female        3.650523
3  2324  139.02  118.36  Outliar2    Male       -3.021186
4  2323  139.03  119.37  Outliar1    Male       -3.020163
5  2723  135.53  219.37  Outliar6  Female       -3.378252
6  8799  136.66  201.42  Outliar7  Female       -3.262640
7  7295  139.38   35.66   Stanley    Male       -2.984354

In [28]:
outliarsZscore = df2Zscore[(df2Zscore.Z_ScoreHeights<-3)|(df2Zscore.Z_ScoreHeights>3)]
outliarsZscore.shape

(7, 6)

In [29]:
outliarsZscore

     Id  Height  Weight      Name  Gender  Z_ScoreHeights
0  9383  138.88   30.23  Outliar5  Female       -3.035510
1  8928  138.92   29.20  Outliar4    Male       -3.031417
2  4532  204.23  117.03  Outliar3  Female        3.650523
3  2324  139.02  118.36  Outliar2    Male       -3.021186
4  2323  139.03  119.37  Outliar1    Male       -3.020163
5  2723  135.53  219.37  Outliar6  Female       -3.378252
6  8799  136.66  201.42  Outliar7  Female       -3.262640

In [30]:
newValidDataNew = df2Zscore[(df2Zscore.Z_ScoreHeights >= -3)&(df2Zscore.Z_ScoreHeights<=3)]
newValidDataNew.shape

(9993, 6)